<ion-view view-title="Menu">
  <ion-content>
    <button class="button button-block button-positive" ng-click="goLogin()">
      Log in
    </button>
    <button class="button button-block button-positive" ng-click="goPhoto()">
      Pick a photo
    </button>
    <button class="button button-block button-positive" ng-click="goVotes()">
      Votes demo
    </button>
    <button class="button button-block button-positive" ng-click="goWall()">
      Tile demo
    </button>
    <button class="button button-block button-positive" ng-click="goMap()">
      Map demo
    </button>
  </ion-content>
</ion-view>